@import "tailwindcss";
#right::-webkit-scrollbar {
  display: none;
}

@keyframes auto-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.animate-auto-scroll {
  animation: auto-scroll 60s linear infinite;
}